streamlit
google-generativeai
langchain
langchain-community
langchain-google-genai
langchain-huggingface
chromadb
pillow
gtts
pyaudio
speechrecognition
transformers
sentence-transformers
huggingface-hub
tiktoken
