streamlit
google-generativeai
langchain
langchain-community
langchain-google-genai
langchain-huggingface
chromadb
pillow
gtts
pygame
speechrecognition
transformers
sentence-transformers
huggingface-hub
tiktoken